* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html, body {
    background-color: #1b1b32;
    color: white;
    font-family: Lato, sans-serif;
    margin-top: 40px;
  }

  h1 {
    color: #1b1b32;
    font-size: 25px;
    font-family: Roboto, sans-serif;
    text-align: center;
    margin: 20px 0;

  }
  
  .aplicacion-tareas {
    width: 100%;
    padding-top: 10px;
    background-color: #1b1b32;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: Lato, sans-serif;
  }
  
  .contenedor-logo {
    width: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .bootstrap-logo {
    height: 50px;
  }

  .tareas-lista-principal {
    width: 600px;
    min-height: 500px;
    background-color: #d0d0d5;
    padding: 25px;
    margin: 10px;
    justify-content: center;
    border-radius: 26px;
  }